{
  "root": true,

  /* Local version of @typescript-eslint/parser */
  "parser": "@typescript-eslint/parser",

  "plugins": [
    /* Local version of @typescript-eslint/eslint-plugin */
    "@typescript-eslint",
    /* Local version of @typescript-eslint/eslint-plugin-tslint */
    "@typescript-eslint/tslint"
  ],
  
  "env": {
    "es6": true,
    "node": true
  },

  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/@typescript-eslint"
  ],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    },
    "project": "./tsconfig.json"
  },

  "settings": {
    // "import/extensions": [ ".js", ".jsx", ".ts", ".tsx" ],
    "import/resolver": {
      "node": {
        "extensions": [ ".js", ".jsx", ".ts", ".tsx" ]
      }
    }
  },

  "rules": {
     "@typescript-eslint/tslint/config": ["warn", {
      "lintFile": "./tslint.json", // path to tslint.json of your project
      "rules": {
        // tslint rules (will be used if `lintFile` is not specified)
      },
      "rulesDirectory": [
        // array of paths to directories with rules, e.g. 'node_modules/tslint/lib/rules' (will be used if `lintFile` is not specified)
      ]
    }],

    "no-case-declarations": "off",
    "no-continue": "off",
    "no-shadow": "off",
    "prefer-destructuring": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/no-default-export": "error",
    "import/prefer-default-export": "off",

    /* this project requires some code optimizations */
    "no-plusplus": "off",
    "no-bitwise": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",

    /* others */
    "no-multi-assign": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "lines-between-class-members": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/array-type" : ["error", "array-simple" ],

    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}