/.vscode
/.idea

/docs
/coverage
/examples/node.js/demo.js
/examples/node.js/demo.js.map
/examples/apply-palette-from-file/out

node_modules

/src
/tests

.*
*.snap

/npm-debug.log
/package-lock.json
/rollup.config.js
/tasks.txt
/tsconfig.json
/tslint.json